:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-image: url("./assets/background.jpg");
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  }
.App {
  font-weight: 600;
  font-size: xx-large;
  color: #020423;
  text-decoration: inherit;
  display: flex;
  padding-top: 5px;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: #0b107a;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #03074b;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
button {
  background-color: #e1dbdb;
}
.table{
  background: rgba(203, 164, 49, 0.76);
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.5s, transform 0.5s;
}

