.text {
  padding: 1rem 1rem;
  margin: 2rem;
  border: #1f30d2 4px solid;

}

.inside {
    text-align: center;
    /*padding: 1rem 1rem;*/
    /*margin: 2rem;*/
    /*border: #1f30d2 4px solid;*/
  color: #8d0505;
  }


.App {
  height: 600px;
  width: 800px;
  /*background-image: url('./assets/background.jpg');*/
  /*opacity: 0.5;*/
  /*background-color: #43cbd7;*/
  display: inline-block;
  vertical-align: middle;
  padding: 1rem;
  position: relative;
}



.text{
  background-color: rgba(255, 255, 255, 0.42);
  background-image: url('./assets/background.jpg');
  width: auto;
  height: 8rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode:lighten;
  color: #50e3de;
}

.container {
  border: solid 5px green;
  margin: 5px;
}


.total {
  color: #da1c1c;
  border: 2px Solid black;
  margin-top: 8px;
}
